body{
    align-items: center;
}
#table{
    height: 600px;
    width: 600px;
    background-color: rgb(30,30,30);
    color:white;
}
.week-name{
    border: 0;
    height :50px;
    width: 600px;
}
.day{
    height: 60px;
    height: 60px;
    text-align: right;
}
#main-area{
    display: flex;
}
#todo-area{
    justify-content: center;
}
.day{
    cursor: pointer;
}
#todo-area{
    background-color: black;
    color:white;
    height: 745.594px;
    width: 600px;
}
#calendar-area{
    background-color: black;
    color:white;
}
#todo-flex{
    margin-top: 150px;
}
#todo-form input{
    color:white;
    border :none;
    background:transparent ;
    text-align: center;
    font-size: 30px;
    width: 600px;
} 
#todo-form input::placeholder{color:white;}
#todo-form input:focus{
    outline: none;
    color:white;
}
#todo-list {
    list-style: none;
    text-align: center;
    padding:0 auto;
    justify-content: center;
    font-size: 30px;
}